---
apiVersion: v1
kind: Service
metadata:
  name: {{org}}-wp
  namespace: {{org}}
  labels:
    app: {{org}}-wordpress
    org: {{org}}
spec:
  ports:
    - port: 80
  selector:
    app: {{org}}-wordpress
    tier: frontend
    org: {{org}}

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{org}}-ingress
spec:
  tls:
  - hosts:
    - {{org}}.wpaas.com
  rules:
  - host: {{org}}.wpaas.com
    http:
      paths:
      - path: /
        backend:
          serviceName: {{org}}-wp
          servicePort: 80

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{org}}-wp-pvc
  namespace: {{org}}
  labels:
    app: {{org}}-wordpress
    org: {{org}}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: gluster-heketi
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{org}}-wordpress
  namespace: {{org}}
  labels:
    app: {{org}}-wordpress
    org: {{org}}
spec:
  selector:
    matchLabels:
      app: {{org}}-wordpress
      tier: frontend
  replicas: {{size}}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{org}}-wordpress
        tier: frontend
        org: {{org}}
    spec:
      containers:
        - image: wordpress:latest
          name: {{org}}-wordpress
          env:
            - name: WORDPRESS_DB_HOST
              value: {{org}}-mysql
            - name: WORDPRESS_DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{org}}-secret
                  key: USER
            - name: WORDPRESS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: {{org}}-secret
                  key: DATABASE
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{org}}-secret
                  key: PASSWORD
          ports:
            - containerPort: 80
              name: {{org}}-wordpress
          volumeMounts:
            - name: {{org}}-wordpress-local-storage
              mountPath: /var/www/html
      volumes:
        - name: {{org}}-wordpress-local-storage
          persistentVolumeClaim:
            claimName: {{org}}-wp-pvc
